@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Güncelle</div>
					</div>
					<div class="card-body">

						<form method="post">
							<input type="hidden" asp-for="Id" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Açıklama</label>
							<textarea rows="4" class="form-control" asp-for="Description"></textarea>
							<br />
							<label>Telefon</label>
							<input type="tel" asp-for="Phone" class="form-control" />
							<br />
							<label>Adres</label>
							<input type="text" asp-for="Address" class="form-control" />
							<br />
							<label>Email</label>
							<input type="email" asp-for="Email" class="form-control" />
							<br />
							
							<button class="btn btn-warning">Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

